<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="КонстантиноваАвтосервисEntities" connectionString="metadata=res://*/Konstantinova_Autoservice.csdl|res://*/Konstantinova_Autoservice.ssdl|res://*/Konstantinova_Autoservice.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STUD231-15\SQLEXPRESS02;initial catalog=КонстантиноваАвтосервис;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>